@font-face {
	font-family: "Cuprum";
	src: url("../fonts/Cuprum-Regular.svg") format("svg"),
	    url("../fonts/Cuprum-Regular.ttf") format("truetype"),
	    url("../fonts/Cuprum-Regular.woff") format("woff"),
	    url("../fonts/Cuprum-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Cuprum";
	src: url("../fonts/Cuprum-Italic.svg") format("svg"),
	    url("../fonts/Cuprum-Italic.ttf") format("truetype"),
	    url("../fonts/Cuprum-Italic.woff") format("woff"),
	    url("../fonts/Cuprum-Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/PTSans-Regular.svg") format("svg"),
	    url("../fonts/PT_Sans-Web-Regular.ttf") format("truetype"),
	    url("../fonts/PTSans-Regular.woff") format("woff"),
	    url("../fonts/PT_Sans-Web-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

html {
	box-sizing: border-box;
}

*, ::after, ::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;

}

a {
	text-decoration: none;
}

ul,
fieldset {
	padding: 0;
	margin: 0;
}

.button {
	display: inline-block;

	padding-top: 10px;
	padding-bottom: 10px;

	font: inherit;
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    border: none;
    border-radius: 3px;
	background-color: #ee3643;
}

.button:hover {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}

.container {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-bottom: 60px;
	margin-bottom: 59px;

	background-color: #f4f7f9;
}

.header-top {
	align-self: stretch;

	background-color: #293449;
}

.header-top .container {
    display: flex;
    max-height: 42px;
}

.header__user-button,
.header__order-button,
.header__search-form-input {
  font-family: inherit;
   font-size: 17px;
   line-height: 18px;
   vertical-align: bottom;
   color: #ffffff;

   width: 150px;
}

.header__user-button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 150px;
}

.header__user-button-text {
	padding-left: 17px;
}

.header__search-form {
	overflow: hidden;
}

.header__search-form-input {
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;

  width: 270px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 49px;

  background-image: url("../img/icon-search-darkgrey.svg"); 
  background-repeat: no-repeat;
  background-position: 17px 12px;
}

.header__search-form-input::-webkit-input-placeholder {
	color: #ffffff;
}
.header__search-form-input::-moz-placeholder {
	color: #ffffff;
}
.header__search-form-input:-moz-placeholder {
	color: #ffffff;
}
.header__search-form-input:-ms-input-placeholder {
	color: #ffffff;
}

.header__search-form-button {
	display: none;
}

.header__search-form-input:hover {
	background-color: #212a3a;
	background-image: url("../img/icon-search-white.svg"); 
    background-repeat: no-repeat;
    background-position: 17px 12px;
}

.header__search-form-input:focus {
	background-color: #ffffff;
	color: #000000;

	background-image: url("../img/icon-search-red.svg"); 
    background-repeat: no-repeat;
    background-position: 17px 12px;
}

.header__user-button:hover {
	background-color: #212a3a;
}

.header__user-button:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.6);
}

.header__order-button {
	background-color: #63a63e;
}

.header__order-button:hover {
	background-color: #5fbb2d;
}

.header__order-button:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5);
}

.logo {
	padding-left: 55px;
	padding-right: 55px;
	padding-top: 13px;
	padding-bottom: 11px;

    width: 220px;
}

.logo {
	display: block;

    width: 220px;
    box-shadow: 0px 5px 0 0 #b52933;
    background-color: #ee3643;
}

.logo:hover {
	background-color: #ca2c37;
}

.logo:active {
	background-color: #ba2732;
}

.header-center {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-top: 46px;
	padding-bottom: 43px;
	padding-left: 53px;
}

.header_shop-main-title {
	font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: normal;
    color: #ee3643;

    width: 196px;
}

.header_adress-tel-number {
	display: block;
	font-size: 21px;
	line-height: 21px;
	color: #e9292a;
	text-align: center;
	border: 3px solid #ffffff;
	padding: 13px 49px 11px 71px;

	background-image: url(../img/icon-phone.svg);
	background-repeat: no-repeat;
	background-position: 15px 13px;
}

.header_adress-adress {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.header-login-buttons {
}

.sign-in-button{
    margin-right: 10px;
}

.sign-in-button,
.sign-up-button,
.header_profile-button,
.header_sign-out-button {
	padding: 12px 25px;

	color: #000000;
	font-size: 21px;
	line-height: 21px;
	background-color: #ffffff;
}

.sign-in-button:hover,
.sign-up-button:hover {
	color: #ee3643;
}

.sign-in-button:active,
.sign-up-button:active {
    color: rgba(0, 0, 0, 0.3);
}

.header_profile-button {
	padding-left: 13px;
	padding-right: 27px;
}

.profile-button-icon {
	margin-right: 8px;
	margin-top: 2px;
	margin-bottom: -2px;
}

.header_profile-button:hover path,
.header_profile-button:focus path {
	fill: #32425C;
}

.header_profile-button:active path {
	fill: #c5c5c5;
}

.header_profile-button:active {
	color: rgba(0, 0, 0, 0.3);
}

.header_sign-out-button {
	padding-top: 12px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 12px;
}

.sign-out-button-icon {
	margin-top: 2px;
	margin-bottom: -2px;
}

.header_sign-out-button:hover g,
.header_sign-out-button:focus g {
	fill: #32425C;
}

.header_sign-out-button:active g {
	fill: #c5c5c5;
}

.header_user-info-list {
	position: relative;
	display: flex;
	list-style: none;
}

.header__user-info-list-item {
	margin: 15px 15px;
}

.header__user-info-list-item:not(:last-child)::after {
	content: "";
	position: absolute;
	top: 25px;
	left: 103px;
	width: 4px;
	height: 4px;
	background-color: #32425c;
	border-radius: 50%;

}

.header__user-info-list-item a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;

	background-color: transparent;
}

.header__user-info-list-item a:hover,
.header__user-info-list-item a:focus {
	color: #ee3643;
}

.header__user-info-list-item a:active {
	color: rgba(50, 66, 92, 0.3);
}

.main-nav {
	font-size: 17px;
	line-height: 17px;
}

.main-nav_list {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;

	list-style: none;

	box-shadow: 0px 5px 0 0 #293449;
    background-color: #32425c;
}

.main-nav__list-item-link {
	display: block;
	padding: 22px 30px;

	color: #ffffff;
	text-align: center;
}

.main-nav_list-item:first-child .main-nav__list-item-link {
	padding-left: 55px;
}

.main-nav_list-item:last-child .main-nav__list-item-link {
	padding-right: 55px;
}

.main-nav__list-item-link:hover {
	background-color: #293449;
}

.main-nav__list-item-link:active {
	background-color: #1d2739;
}

.main_products-menu_item-title {
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    font-weight: normal;
}

.main_products-menu_button {
	font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
}

.main_products-menu_button:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.main_products-menu_button:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.products-menu_materials {
	background-color: #ffbf47;
}

.products-menu_tools {
	background-color: #3bbce3;
}

.products-menu_machinery {
	background-color: #dc91d8;
}

.products-menu_sales {
	background-color: #8ed78f;
}

.products-menu_delivery {
	background-color: #ffc047;
}

.main_products-menu_slider h3 {
	color: #ffffff;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
}

.main_products-menu_slider p {
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
}

.main_products-menu_slider input {
	display: none;
}

.main-popular-top {
    background-color: #f9f5f0;
}

.main-popular-top h2 {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
    text-transform: uppercase;
}

.main_popular-list {
	flex-wrap: wrap;
	list-style: none;
}

.main_popular-list .brands-item img,
.catalog-item img {
    display: block;
}

.main_popular-list .brands-item,
.catalog-item {
	display: block;
	border: 1px solid #eaeaea;
}

.main_popular-list .brands-item:hover,
.catalog-item:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
	border: 1px solid transparent;
}

.main_popular-list .brands-item:active {
	opacity: 0.3;
	box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
	border: 1px solid transparent;
}

.catalog-item {
	display: flex;
	flex-direction: column;

	position: relative;

	font-family: "PT Sans", Arial, sans-serif;
	text-align: center;
	font-weight: bold;

	width: 220px;

	margin-top: 20px;
}

.catalog-item-title {
	font-size: 18px;
	line-height: 20px;
	color: #000000;

	margin-top: 10px;
}

.catalog-item-image {
	order: -1;
}

.new-flag {
	position: absolute;
	top: 0;
	right: 0;
}

.catalog-item-old-price {
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
	text-decoration: line-through;
}

.catalog-item-new-price {
    position: relative;

	font-size: 17px;
	line-height: 18px;
	color: #ffffff;

    width: 141px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 11px 30px;
  
    background-color: #ee3643;
    border-radius: 3px;
}

.catalog-item-new-price::after {
  content: "";
  
  position: absolute;
  top: 0;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 20px solid white;
  border-left-color: #ee3643;
}


.catalog-user-form-hidden {
	display: none;

	margin-bottom: 36px;
	margin-top: 42px;
	margin-left: 41px;
	margin-right: 41px;
}

.catalog-item:hover .catalog-user-form-hidden {
	display: block;
	order: -1;
}

.catalog-item:hover .catalog-item-image {
	display: none;
}

.catalog-user-buy-button,
.catalog-user-bookmark-button {
	display: block;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;

	border-radius: 3px;

	width: 135px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 8px;
}

.catalog-user-buy-button {
	color: #ffffff;

	background-color: #63a63e;
	box-shadow: inset 0px -3px 0 0 #367315;
}

.catalog-user-buy-button:hover,
.catalog-user-buy-button:focus {
	background-color: #5fbb2d;
}

.catalog-user-buy-button:active {
	background-color: #518534;
	box-shadow: none;
}

.catalog-user-bookmark-button {
	color: #32425c;

	box-shadow: inset 0 0 0 3px #63a63e;
}

.catalog-user-bookmark-button:hover,
.catalog-user-bookmark-button:focus {
	box-shadow: inset 0 0 0 3px #32425c;
}

.catalog-user-bookmark-button:active {
	opacity: 0.3;
}

.main_service {
}

.main_service-title,
.main_information-title {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.main_service-slide p,
.main_information-paragraph,
.main_service-description {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.main_service-list {
	list-style: none;

	background-color: #f4f7f9;
}

.main_service-stripe{
	width: 10px;
	height: 280px;
	background-image: url("../img/slider-stripe.png");
	background-repeat: no-repeat; 
}

.main_service-label {
    color: #ffffff;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;

	background-color: #32425c;
	box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.main_service-label:hover {
	background-color: #293449;
}

.main_service-label:active {
	background-color: #ffffff;
	color: #32425c;
	box-shadow: 0px 1px 0 0 #ffffff, inset 0.6px 0.8px 0 0 #ffffff;
}

.main_service-list-item input {
	display: none;
}

.main_service-slide h3 {
	color: #32425c;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.main_information {
	display: flex;
	justify-content: space-between;
	padding-top: 82px;
	padding-bottom: 86px;
}

.main-about-us {
	width: 519px;
}

.main-about-us .main_information-paragraph {
	margin-bottom: 20px;
}

.main_our-partners-list {
	list-style: none;
}

.main_our-partners-item {
	position: relative;

    font-size: 18px;
    line-height: 20px;
    padding-left: 35px;
    margin-bottom: 20px;
}

.main_our-partners-item::before {
    content: "";
    display: block;

    position: absolute;
    top: 8px;
    left: 0;

    width: 25px;
    height: 2px;
    background-color: #ee3643;
}

.main-about-us .button {
	width: 220px;
}

.main-contacts {
	width: 300px;
}

.main-contacts .main_information-paragraph {
	margin-bottom: 30px;
}

.main_information-map-small + .button{
	margin-top: 40px;
}

.main-contacts .button {
	width: 300px;
}

.breadcrumbs {
	display: flex;
	list-style: none;
}

.breadcrumbs__item {
}

.breadcrumbs__item:not(:last-child)::after {
	content: "";
	display: inline-block;

	width: 9px;
	height: 12px;
	margin-bottom: -2px;
	margin-left: 15px;
	margin-right: 15px;
	background-image: url("../img/icon-right-small.svg");

}

.breadcrumbs__item,
.breadcrumbs__item-link,
.breadcrumbs-current {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.breadcrumbs__item-link:hover,
.breadcrumbs__item-link:focus {
	color: #ee3643;
}

.breadcrumbs__item-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-icon-home:hover g,
.breadcrumbs-icon-home:focus g {
	fill: #32425C;
}

.breadcrumbs-icon-home:active g {
	fill: #C1C6CE;
}


.page-title {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	font-weight: normal;

	padding: 30px;

	background-color: #f2f6f8;
}

.calalog-flex-container {
	display: flex;
	justify-content: space-between;
}

.filter {
	width: 220px;
}

.catalog-filter-title,
.catalog-sort-title,
.catalog-sort_js-button,
.catalog-button-text,
.catalog-button {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
	font-weight: normal;
}

.catalog-filter-title,
.catalog-sort {
	background-color: #f7f3ec;
}

.catalog-filter-title {
	padding: 10px 18px;
	margin: 0;
}

.catalog-filter-fieldset {
	border: none;
	margin-bottom: 5px;
}

legend.catalog-filter_section-title::before {
	content: "";
	display: block;

	width: 220px;
	height: 1px;
	background-color: #e5e5e5;

	margin-bottom: 15px;

}

.catalog-filter-price {
	margin-bottom: 25px;
}

.catalog-filter-price-range {
	font-family: "PT Sans", Arial, sans-serif;
	color: #000000;
	font-size: 17px;
	line-height: 18px;
}

.price-range {
	background-color: #f7f3ec;
	border: none;

	width: 95px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.simple-dash {
	padding: 3px;
}

.catalog-filter_section-title {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;

    margin-top: 13px;
    margin-bottom: 13px;
}

.catalog-filter-price_rectangle {
	position: relative;
	width: 220px;
	height: 80px;
	padding-top: 39px;
	margin-bottom: 9px;

	background-color: #f7f3ec;
}

.catalog-filter-price_graystripe {
	width: 180px;
	height: 2px;
	margin-right: 20px;
	margin-left: 20px;

    background-color: #d7dcde;
}

.catalog-filter-price_greenstripe {
	position: absolute;
	top: 39px;
	left: 21px;

	width: 152px;
	height: 2px;
    background-color: #00ca74;
}

.filter-button-first {
	position: absolute;
	z-index: 10;
	top: 30px;
	left: 20px;
}

.filter-button-second {
	position: absolute;
	top: 30px;
	left: 160px;
}

.catalog-filter_brand-name,
.catalog-filter_charge-name {
	display: flex;
	align-items: center;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
    text-transform: uppercase;
    color: #000000;

    margin-bottom: 16px;
}

.catalog-filter_brand-name img,
.catalog-filter_charge-name img {
	opacity: 0.23;
}

.catalog-filter_brand-name:hover img,
.catalog-filter_charge-name:hover img {
	opacity: 0.29;
}

.brand-checkbox-on,
.charge-radio-on {
	display: none;
}

.catalog-filter_brand-option,
.catalog-filter_charging-option {
	display: none;
}

.catalog-filter_brand-option:checked + label .brand-checkbox-on,
.catalog-filter_charging-option:checked + label .charge-radio-on {
	display: inline-block;
}

.catalog-filter_brand-option:checked + label .brand-checkbox-off,
.catalog-filter_charging-option:checked + label .charge-radio-off {
	display: none;
}


.catalog-filter_brand-option:disabled + label,
.catalog-filter_charging-option:disabled + label {
	opacity: 0.4;
}

.brand-checkbox-off {
	margin-right: 12px;
}
.brand-checkbox-on {
	margin-right: 8px;
}

.charge-radio-on,
.charge-radio-off {
	margin-right: 10px;
}

.catalog-button {
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	padding: 10px 40px;
	border-radius: 3px;
}

.catalog-button:hover,
.catalog-button:focus {
	border: 1px solid #bdc6ca;
}

.catalog-button:active {
	border: 1px solid #ee3643;
}

.active .catalog-button {
	color: #ffffff;

	background-color: #ee3643;
	border: none;
}

.catalog-filter-fieldset + .catalog-button {
	margin-top: 54px;
}

.catalog {
	width: 700px;
}

.catalog-sort {
	display: flex;
	align-items: center;
}

.catalog-sort-title {
	margin-left: 20px;
	margin-right: 140px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.catalog-sort_js-button {
	opacity: 0.3;

	border-bottom: 1px dotted #ee3643;
}

.catalog-sort_js-button:first-of-type {
	margin-right: 71px;
}

.catalog-sort_js-button:nth-of-type(2) {
	margin-right: 65px;
}

.catalog-sort_js-button:nth-of-type(3) {
	margin-right: 46px;
}

.catalog-sort_js-button:nth-of-type(4) {
	margin-right: 21px;
}

.catalog-sort_js-button:hover,
.catalog-sort_js-button:focus {
	opacity: 1;

	border-bottom: 1px solid #ee3643;
}

.catalog-sort_js-button:active {
	color: #ee3643;

	border: none;
}

.triangle-button,
.triangle-button:hover,
.triangle-button:focus {
	border: none;
}

.triangle-button:active path {
	fill: #ee3643;
}

.catalog-list,
.pagination-list {
	list-style: none;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.pagination-list {
	display: flex;

	margin-top: 65px;
	margin-bottom: 60px;
}

.pagination-item a{
	padding: 10px 16px;
	border-radius: 3px;
	margin-right: 10px;
}

.pagination-item:last-child a {
	padding: 10px 30px;
}

.main_perforator-article {
	background-color: #f4f7f9;
	padding-top: 67px;
	padding-bottom: 67px;
}

.main_perforator-article-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #000000;

	margin-top: 0;
}

.main_perforator-article-text {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 0;
}

.main-footer {
    background-color: #32425c;
}

.main-footer .logo {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.main-footer ul{
	list-style: none;
}

.footer-top {
    background-color: #32425c;
    padding-bottom: 30px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.flex-container:last-child {
	padding-top: 34px;
}

.footer-nav {
	display: flex;
	justify-content: space-between;
	flex-grow: 0;
}

.footer-nav a {
	font-size: 18px;
	line-height: 24px;
	color: white;
}

.footer-nav a:hover {
	text-decoration: underline;
}

.footer-nav a:active {
	text-decoration: none;
	opacity: 0.5;
}

.flex-container:first-child .footer-nav{
	padding-top: 39px;
}

.flex-container:first-child .footer-nav-link {
	padding-right: 30px;
	padding-left: 30px;
	color: #f1f5f7;
}

.flex-container:last-child .footer-nav-link {
	padding-right: 30px;
	padding-left: 30px;
	color: #ffd180;
}

.footer-nav-item:last-child .footer-nav-link {
	padding-right: 0;
}

.footer-adress,
 .footer-adress a{
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
}

.footer-adress p {
	margin: 0;
}

.footer-bottom {
	font-size: 16px;
	line-height: 18px;
    color: #ffffff;

	background-color: #293449;
}

.footer-bottom .container {
	display: flex;
	align-items: center;

	padding-top: 35px;
	padding-bottom: 30px;
}

.footer-bottom a {
	color: #ffd180;
}

.footer-copyright {
	margin-right: 160px;
}

.footer-social {
	display: flex;
}


.social-button {
	display: flex;
	align-items: center;

	width: 42px;
	height: 42px;
	margin: 0 2px;
	background-color: #212a3a;
	border-radius: 50%;
}

.social-button img {
	display: block;
	margin: 0 auto;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
	background-color: #ee3643;
}

.footer-bottom_academy-link {
	display: block;
}

.footer-bottom_academy-link:hover {
    text-decoration: underline;
}

.footer-bottom_academy-link:active {
    color: #ee3643;
    text-decoration: none;
}

.footer-bottom_academy:first-of-type {
	margin-left: 117px;
	margin-right: 53px;
}

.modal {
	position: fixed;
}

.modal-mail,
.modal-cart {
	left: 50%;

	margin-left: -310px;
	width: 620px;
	padding-top: 48px;

	background-color: #ffffff;

	border-top: 7px solid #ee3643;
	box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-mail {
	top: 486px;
}

.form-block-line {
	display: flex;

	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 22px;
}

.form-block-full {
	padding-left: 80px;
	padding-right: 80px;
}

.mail-form-label {
	display: block;

	font-size: 18px;
	line-height: 18px;
	color: #000000;

	padding-bottom: 13px;
}

.mail-form-input {
	width: 220px;
	margin-right: 20px;
}

.mail-form-input,
.mail-form-textarea {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;

    border: 2px solid #d7dcde;
    outline: none;
    border-radius: 3px;

    padding: 8px 14px;
}

.mail-form-input::-webkit-input-placeholder {
	color: #a9a9a9;
}
.mail-form-input::-moz-placeholder {
	color: #a9a9a9;
}
.mail-form-input:-moz-placeholder {
	color: #a9a9a9;
}
.mail-form-input:-ms-input-placeholder {
	color: #a9a9a9;
}
.mail-form-textarea::-webkit-input-placeholder {
	color: #a9a9a9;
}
.mail-form-textarea::-moz-placeholder {
	color: #a9a9a9;
}
.mail-form-textarea:-moz-placeholder {
	color: #a9a9a9;
}
.mail-form-textarea:-ms-input-placeholder {
	color: #a9a9a9;
}

.mail-form-input:hover,
.mail-form-textarea:hover
 {
    border: 2px solid #b5b5b5;
}

.mail-form-input:focus,
.mail-form-textarea:focus {
    border: 2px solid #ee3643;
}

.mail-form-textarea {
	width: 100%;
}

.form-block__button {
	margin-top: 37px;
}

.form-block__button button{
	padding: 10px 198px;
	margin-top: 37px;
	margin-bottom: 37px;
}

.modal-map {
	top: 25px;
	left: 50%;
	margin-left: -470px;
	width: 940px;

	box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.5);
}

.form-block__button,
.modal-cart-bottom {
	background-color: #f4f4f4;
	width: 100%;
}

.modal-cart {
	top: 411px;
}

.modal-cart-top {
	display: flex;
	align-items: center;
	padding-left: 80px;
	padding-bottom: 48px;
}

.modal-cart-text {
	font-size: 30px;
	line-height: 30px;
	padding-left: 32px; 
}

.modal-cart-bottom {
	padding: 37px 77px;
}

.modal-cart-bottom a {
	padding-right: 62px;
	padding-left: 59px;
	margin-right: 20px;
}

.continue-button {
	padding-right: 48px;
	padding-left: 44px;
}

.continue-button,
.continue-button-text {
	color: #000000;
	font-size: 14px;
	line-height: 18px;

    background-color: #ffffff;
}

.continue-button:hover,
.continue-button:active {
	background-color: #ffffff;
}

.continue-button-text:hover {
	color: #ee3643;
}

.continue-button-text:active {
    color: rgba(0, 0, 0, 0.3);
}

.close-button {
	position: absolute;
	top: 9px;
	right: 9px;

	background-color: transparent;
	border: none;
	width: 21px;
	height: 21px;
	background-image: url("../img/cross-red.svg");
}






