body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;

}

a {
	text-decoration: none;
}

.main-header {
	background-color: #f4f7f9;
}

.header-top {
	background-color: #293449;
}

.header-top a,
.header-top .header__search-form-input {
   display: inline-block;

   font-family: inherit;
   font-size: 17px;
   line-height: 18px;
   vertical-align: bottom;
   color: #ffffff;

   width: 150px;
}

.header-top .header__search-form-input {
  background-color: transparent;
  color: #ffffff;
  border: none;

  width: 270px;
}

.header-top .header__search-form-input::-webkit-input-placeholder {
	color: #ffffff;
}
.header-top .header__search-form-input::-moz-placeholder {
	color: #ffffff;
}
.header-top .header__search-form-input:-moz-placeholder {
	color: #ffffff;
}
.header-top .header__search-form-input:-ms-input-placeholder {
	color: #ffffff;
}

.header-top .header__search-form-button {
	display: none;
}

.header-top a:hover,
.header-top .header__search-form-input:hover {
	background-color: #212a3a;
}

.header-top a:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.6);
}

.header-top .header__order-button {
	background-color: #63a63e;
}

.header-top .header__order-button:hover {
	background-color: #5fbb2d;
}

.header-top .header__order-button:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5);
}

.header-top .logo {
    width: 220px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
}