@font-face {
	font-family: "Cuprum";
	src: url("../fonts/Cuprum-Regular.svg") format("svg"), url("../fonts/Cuprum-Regular.ttf") format("truetype"), url("../fonts/Cuprum-Regular.woff") format("woff"), url("../fonts/Cuprum-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Cuprum";
	src: url("../fonts/Cuprum-Italic.svg") format("svg"), url("../fonts/Cuprum-Italic.ttf") format("truetype"), url("../fonts/Cuprum-Italic.woff") format("woff"), url("../fonts/Cuprum-Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/PTSans-Regular.svg") format("svg"), url("../fonts/PT_Sans-Web-Regular.ttf") format("truetype"), url("../fonts/PTSans-Regular.woff") format("woff"), url("../fonts/PT_Sans-Web-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

html {
	box-sizing: border-box;
}

*,
 ::after,
 ::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

ul,
fieldset {
	padding: 0;
	margin: 0;
}

.button {
	display: inline-block;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
	font: inherit;
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	background-color: #ee3643;
}

.button:hover,
.button:focus {
	background-color: #ca2c37;
	outline: none;
}

.button:active {
	background-color: #ba2732;
}

.container {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 65px;
	background-color: #f4f7f9;
}

.header-top {
	align-self: stretch;
	background-color: #293449;
}

.header-top .container {
	display: flex;
	max-height: 42px;
}

.header__user-button,
.header__order-button,
.header__search-form-input {
	font-family: inherit;
	font-size: 17px;
	line-height: 18px;
	vertical-align: bottom;
	color: #ffffff;
	width: 150px;
}

.header__user-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
}

.header__user-button.active {
	background-color: #ee3643;
}

.header__user-button-text {
	padding-left: 14px;
}

.header__search-form {
	overflow: hidden;
}

.header__search-form-input {
	background-color: transparent;
	color: #ffffff;
	border: none;
	outline: none;
	width: 270px;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 49px;
	background-image: url("../img/icon-search-darkgrey.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.header__search-form-input::-webkit-input-placeholder {
	color: #ffffff;
}

.header__search-form-input::-moz-placeholder {
	color: #ffffff;
}

.header__search-form-input:-moz-placeholder {
	color: #ffffff;
}

.header__search-form-input:-ms-input-placeholder {
	color: #ffffff;
}

.header__search-form-button {
	display: none;
}

.header__search-form-input:hover {
	background-color: #212a3a;
	background-image: url("../img/icon-search-white.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.header__search-form-input:focus {
	background-color: #ffffff;
	color: #000000;
	background-image: url("../img/icon-search-red.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.header__user-button:hover,
.header__user-button:focus {
	background-color: #212a3a;
	outline: none;
}

.header__user-button:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.6);
}

.header__user-button:hover img,
.header__user-button:focus img {
	opacity: 1;
}

.header__user-button img,
.header__user-button:active img {
	opacity: 0.3;
}

.header__cart-button {
	padding-right: 6px;
}

.header__bookmarks-button {
	padding-right: 11px;
}

.header__order-button {
	background-color: #63a63e;
}

.header__order-button:hover,
.header__order-button:focus {
	background-color: #5fbb2d;
}

.header__order-button:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5);
}

.logo {
	display: block;
	width: 220px;
	box-shadow: 0px 5px 0 0 #b52933;
	background-color: #ee3643;
	padding-left: 55px;
	padding-right: 55px;
	padding-top: 13px;
	padding-bottom: 11px;
}

.logo:hover,
.logo:focus {
	background-color: #ca2c37;
	outline: none;
}

.logo:active {
	background-color: #ba2732;
}

.header-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 47px;
	padding-bottom: 38px;
	padding-left: 63px;
}

.header_shop-main-title {
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	font-weight: normal;
	color: #ee3643;
	width: 200px;
	margin: 0;
}

.header_address-tel-number {
	display: block;
	font-size: 21px;
	line-height: 22px;
	color: #e9292a;
	text-align: center;
	border: 3px solid #ffffff;
	padding: 9px 49px 9px 71px;
	background-image: url(../img/icon-phone.svg);
	background-repeat: no-repeat;
	background-position: 13px 11px;
}

.header_address-address {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	margin: 0;
	margin-top: 3px;
	text-align: center;
}

.header-login-buttons {
	display: flex;
	margin-top: -28px;
}

.sign-in-button,
.sign-up-button,
.header_profile-button,
.header_sign-out-button {
	padding: 12px 25px;
	color: #000000;
	font-size: 21px;
	line-height: 22px;
	background-color: #ffffff;
}

.sign-in-button {
	margin-right: 10px;
	padding-left: 16px;
	padding-right: 24px;
}

.sign-in-button svg {
	margin-right: 14px;
}

.sign-in-button:hover,
.sign-up-button:hover,
.sign-in-button:focus,
.sign-up-button:focus {
	color: #ee3643;
	outline: none;
}

.sign-in-button:active,
.sign-up-button:active {
	color: rgba(0, 0, 0, 0.3);
}

.sign-in-button:hover polygon,
.sign-in-button:hover path,
.sign-in-button:focus polygon,
.sign-in-button:focus path {
	fill: #32425C;
}

.sign-in-button:active polygon,
.sign-in-button:active path {
	fill: #c5c5c5;
}

.header_user-info {
	margin-top: 0px;
	margin-left: -20px;
}

.header_user-info-div {
	display: flex;
	background-color: #ffffff;
}

.header_profile-button {
	padding-left: 13px;
	padding-right: 22px;
	padding-top: 10px;
	padding-bottom: 11px;

	width: 259px;
}

.header_profile-button:focus {
	outline: none;
}

.profile-button-icon {
	margin-right: 8px;
	margin-top: 2px;
	margin-bottom: -2px;
}

.header_profile-button:hover path,
.header_profile-button:focus path {
	fill: #32425C;
}

.header_profile-button:active path {
	fill: #c5c5c5;
}

.header_profile-button:active {
	color: rgba(0, 0, 0, 0.3);
}

.header_sign-out-button {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 11px;
}

.header_sign-out-button:focus {
	outline: none;
}

.sign-out-button-icon {
	margin-top: 2px;
	margin-bottom: -2px;
}

.header_sign-out-button:hover g,
.header_sign-out-button:focus g {
	fill: #32425C;
}

.header_sign-out-button:active g {
	fill: #c5c5c5;
}

.header_user-info-list {
	position: relative;
	display: flex;
	list-style: none;
}

.header__user-info-list-item {
	margin-top: 5px;
	margin-bottom: 0;
	margin-left: 18px;
	margin-right: 15px;
}

.header__user-info-list-item:not(:last-child)::after {
	content: "";
	position: absolute;
	top: 15px;
	left: 108px;
	width: 4px;
	height: 4px;
	background-color: #32425c;
	border-radius: 50%;
}

.header__user-info-list-item a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
	background-color: transparent;
}

.header__user-info-list-item a:hover,
.header__user-info-list-item a:focus {
	color: #ee3643;
	outline: none;
}

.header__user-info-list-item a:active {
	color: rgba(50, 66, 92, 0.3);
}

.main-nav {
	font-size: 17px;
	line-height: 18px;
}

.main-nav_list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	box-shadow: 0px 5px 0 0 #293449;
	background-color: #32425c;
}

.main-nav__list-item-link {
	display: block;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 17px;
	color: #ffffff;
	text-align: center;
}

.main-nav_list-item:first-child .main-nav__list-item-link {
	padding-left: 55px;
}

.main-nav_list-item:last-child .main-nav__list-item-link {
	padding-right: 55px;
}

.main-nav__list-item-link:hover,
.main-nav__list-item-link:focus {
	background-color: #293449;
	outline: none;
}

.main-nav__list-item-link:active {
	background-color: #1d2739;
	color: rgba(255, 255, 255, 0.5);
}

.main_products-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 59px;
	padding-bottom: 33px;
}

.main_products-menu_item {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding-top: 21px;
	padding-bottom: 22px;
	padding-left: 23px;
	padding-right: 28px;
	margin-bottom: 20px;
	width: 300px;
}

.main_products-menu_item-title {
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
	font-weight: normal;
	margin: 0;
	margin-bottom: 12px;
}

.main_products-menu_button {
	display: block;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 135px;
}

.main_products-menu_button:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.main_products-menu_button:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.products-menu_materials {
	background-color: #ffbf47;
}

.products-menu_materials img:not(.new-flag) {
	margin-top: 10px;
	margin-right: 15px;
}

.products-menu_tools {
	background-color: #3bbce3;
}

.products-menu_tools img {
	margin-top: 12px;
}

.products-menu_machinery {
	background-color: #dc91d8;
}

.products-menu_machinery img {
	margin-top: 10px;
	margin-right: 3px;
}

.products-menu_sales {
	background-color: #8ed78f;
}

.products-menu_sales img {
	margin-top: 5px;
	margin-right: 17px;
}

.products-menu_delivery {
	background-color: #ffc047;
}

.products-menu_delivery img {
	margin-top: 11px;
	margin-right: 3px;
}

.main_products-menu_slider {
	position: relative;
	width: 620px;
}

.slide {
	background-color: #685c53;
}

.drill-slide {
	background-image: url(../img/drill.jpg);
}

.perforator-slide {
	background-image: url(../img/perforator.jpg);
	display: none;
}

.main_products-menu_slider h3 {
	color: #ffffff;
	font-size: 36px;
	line-height: 37px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	margin-left: 25px;
	padding-top: 23px;
}

.main_products-menu_slider p {
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	margin: 0;
	margin-left: 25px;
	padding-bottom: 182px;
}

.main_products-menu_slider button {
	position: absolute;
	top: 114px;
	background-color: transparent;
	border: none;
}

.main_products-menu_slider button:focus,
.main_products-menu_slider button:active {
	outline: none;
}

.slide-left {
	left: 20px;
}

.slide-right {
	right: 15px;
}

.slider-rounds {
	position: absolute;
	display: flex;
	top: 220px;
	left: 295px;
}

.round {
	display: block;
	background-color: #ffffff;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 10px;
}

.round.active::after {
	content: '';
	position: absolute;
	display: block;
	background-color: #ee3643;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	top: 2px;
	left: 2px;
}

.menu-slider-button {
	position: absolute;
	top: 206px;
	left: 25px;
	padding-left: 49px;
	padding-right: 45px;
}

.main-popular-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 30px;
	padding-right: 24px;
	background-color: #f9f5f0;
}

.main-popular-top h2 {
	font-size: 30px;
	line-height: 31px;
	color: #32425c;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
}

.main-popular-top .button {
	width: 253px;
}

.main_popular-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
}

.brands-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 220px;
	margin-top: 20px;
}

.brands-item img {
	margin: 24px auto;
}

.brands-item:nth-child(-n+4) img {
	margin-bottom: 32px;
}

.brands-item img,
.catalog-item img {
	display: block;
}

.brands-item,
.catalog-item {
	border: 1px solid #eaeaea;
}

.main_popular-list .catalog-item {
	margin-bottom: 20px;
}

.brands-item:hover,
.catalog-item:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
	border: 1px solid transparent;
}

.brands-item:active {
	opacity: 0.3;
	box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
	border: 1px solid transparent;
}

.catalog-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	font-family: "PT Sans", Arial, sans-serif;
	text-align: center;
	font-weight: bold;
	width: 220px;
	margin-top: 20px;
}

.catalog-item-title {
	font-size: 18px;
	-moz-letter-spacing: -1px;
	letter-spacing: 0px;
	line-height: 20px;
	color: #000000;
	margin-top: 9px;
	width: 160px;
}

@-moz-document url-prefix() {
	.catalog-item-title {
		letter-spacing: -1px;
	}
}

.catalog-item-image {
	order: -1;
}

.new-flag {
	position: absolute;
	top: 0;
	right: 0;
}

.catalog-item-old-price {
	display: block;
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
	text-decoration: line-through;
	margin-bottom: 0;
	margin-top: 12px;
}

.catalog-item-new-price {
	position: relative;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	width: 141px;
	margin-top: 9px;
	margin-left: 42px;
	margin-right: 35px;
	margin-bottom: 18px;
	padding: 11px;
	padding-left: 27px;
	padding-right: 33px;
	background-color: #ee3643;
	border-radius: 3px;
}

.catalog-item-new-price:nth-child(3) {
	margin-top: 39px;
}

.catalog-item-new-price::after {
	content: "";
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 0;
	border: 20px solid white;
	border-left-color: #ee3643;
}

.catalog-user-form-hidden {
	display: none;
	margin-bottom: 36px;
	margin-top: 42px;
	margin-left: 41px;
	margin-right: 41px;
}

.catalog-item:hover .catalog-user-form-hidden {
	display: block;
	order: -1;
}

.catalog-item:hover .catalog-item-image {
	display: none;
}

.catalog-user-buy-button,
.catalog-user-bookmark-button {
	display: block;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	border-radius: 3px;
	width: 135px;
	padding-top: 12px;
	padding-bottom: 8px;
	margin-bottom: 8px;
}

.catalog-user-buy-button {
	color: #ffffff;
	background-color: #63a63e;
	box-shadow: inset 0px -3px 0 0 #367315;
}

.catalog-user-buy-button:hover,
.catalog-user-buy-button:focus {
	background-color: #5fbb2d;
}

.catalog-user-buy-button:active {
	background-color: #518534;
	box-shadow: none;
}

.catalog-user-bookmark-button {
	color: #32425c;
	box-shadow: inset 0 0 0 3px #63a63e;
}

.catalog-user-bookmark-button:hover,
.catalog-user-bookmark-button:focus {
	box-shadow: inset 0 0 0 3px #32425c;
}

.catalog-user-bookmark-button:active {
	opacity: 0.3;
}

.main_service {
	background-color: #f4f7f9;
	padding-top: 66px;
	margin-top: 85px;
}

.main_service .container {
	position: relative;
}

.main_service-title,
.main_information-title {
	font-size: 30px;
	line-height: 31px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 0;
}

.main_service-slide p,
.main_information-paragraph,
.main_service-description {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.main_service-description {
	width: 400px;
}

.main_service-slider {
	display: flex;
	margin-top: 67px;
	padding-bottom: 96px;
}

.main_service-list {
	list-style: none;
}

.main_service-stripe {
	position: absolute;
	top: 126px;
	left: 240px;
	width: 10px;
	height: 280px;
	background-image: url("../img/slider-stripe.png");
	background-repeat: no-repeat;
}

.main_service-label {
	display: block;
	color: #ffffff;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	background-color: #32425c;
	box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
	width: 240px;
	padding-left: 23px;
	padding-top: 14px;
	padding-bottom: 18px;
	margin-bottom: 1px;
}

.main_service-label:hover,
.main_service-label:focus {
	background-color: #293449;
	outline: none;
}

.main_service-label:active,
#delivery-slide:checked~.main_service-buttons .delivery-label,
#guarantee-slide:checked~.main_service-buttons .guarantee-label,
#loan-slide:checked~.main_service-buttons .loan-label {
	background-color: #ffffff;
	color: #32425c;
	box-shadow: 0px 1px 0 0 #ffffff, inset 0.6px 0.8px 0 0 #ffffff;
}

.main_service input {
	display: none;
}

.main_service-slide {
	display: none;
	margin-left: 80px;
}

#delivery-slide:checked~.main_service-list .main_service-slide:nth-of-type(1),
#guarantee-slide:checked~.main_service-list .main_service-slide:nth-of-type(2),
#loan-slide:checked~.main_service-list .main_service-slide:nth-of-type(3) {
	display: block;
}

.main_service-slide img {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.delivery-image {
	margin-right: 10px;
}

.main_service-slide h3 {
	color: #32425c;
	font-size: 36px;
	line-height: 37px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: -2px;
	margin-bottom: 25px;
}

.main_service-slide p {
	margin-bottom: 0px;
}

.main_service-slide:nth-of-type(1) p {
	width: 275px;
}

.main_service-slide:nth-of-type(2) p {
	width: 380px;
}

.main_service-slide:nth-of-type(3) .button {
	width: 195px;
	background-color: #ff5357;
	margin-top: 26px;
}

.main_information {
	display: flex;
	justify-content: space-between;
	padding-top: 79px;
	padding-bottom: 84px;
}

.main-about-us {
	width: 519px;
}

.main-about-us .main_information-paragraph {
	margin-bottom: 24px;
}

.main_our-partners-list {
	list-style: none;
	margin-top: -4px;
}

.main_our-partners-item {
	position: relative;
	font-size: 18px;
	line-height: 20px;
	padding-left: 35px;
	margin-bottom: 20px;
}

.main_our-partners-item::before {
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	left: 0;
	width: 25px;
	height: 2px;
	background-color: #ee3643;
}

.main-about-us .button {
	width: 220px;
	margin-top: 19px;
}

.main-contacts {
	width: 300px;
}

.main-contacts .main_information-paragraph {
	margin-bottom: 30px;
}

.main_information-map-small {
	display: block;
}

.main_information-map-small+.button {
	margin-top: 35px;
}

.main-contacts .button {
	width: 300px;
}

.breadcrumbs {
	display: flex;
	list-style: none;
	padding-top: 21px;
}

.breadcrumbs__item {}

.breadcrumbs__item:not(:last-child)::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	height: 12px;
	margin-bottom: 5px;
	margin-left: 13px;
	margin-right: 17px;
	background-image: url("../img/icon-right-small.svg");
}

.breadcrumbs__item,
.breadcrumbs__item-link,
.breadcrumbs-current {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.breadcrumbs__item-link:hover,
.breadcrumbs__item-link:focus {
	color: #ee3643;
}

.breadcrumbs__item-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-icon-home:hover g,
.breadcrumbs-icon-home:focus g {
	fill: #32425C;
}

.breadcrumbs-icon-home:active g {
	fill: #C1C6CE;
}

.page-title {
	font-size: 30px;
	line-height: 31px;
	color: #32425c;
	text-transform: uppercase;
	font-weight: normal;
	padding: 30px;
	background-color: #f2f6f8;
}

.calalog-flex-container {
	display: flex;
	justify-content: space-between;
}

.filter {
	width: 220px;
}

.catalog-filter-title,
.catalog-sort-title,
.catalog-sort_js-button,
.catalog-button-text,
.catalog-button {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
	font-weight: normal;
}

.catalog-filter-title,
.catalog-sort {
	background-color: #f7f3ec;
}

.catalog-filter-title {
	padding: 10px 20px;
	margin: 0;
}

.catalog-filter-fieldset {
	border: none;
	margin-bottom: 5px;
}

legend.catalog-filter_section-title::before {
	content: "";
	display: block;
	width: 220px;
	height: 1px;
	background-color: #e5e5e5;
	margin-bottom: 15px;
}

.catalog-filter-price {
	margin-bottom: 25px;
}

.catalog-filter-price-range {
	font-family: "PT Sans", Arial, sans-serif;
	color: #000000;
	font-size: 17px;
	line-height: 18px;
}

.price-range {
	background-color: #f7f3ec;
	border: none;
	width: 95px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.simple-dash {
	padding: 3px;
}

.catalog-filter_section-title {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	margin-top: 11px;
	margin-bottom: 13px;
}

.catalog-filter-price_rectangle {
	position: relative;
	width: 220px;
	height: 80px;
	padding-top: 39px;
	margin-bottom: 9px;
	background-color: #f7f3ec;
}

.catalog-filter-price_graystripe {
	width: 180px;
	height: 2px;
	margin-right: 20px;
	margin-left: 20px;
	background-color: #d7dcde;
}

.catalog-filter-price_greenstripe {
	position: absolute;
	top: 39px;
	left: 21px;
	width: 152px;
	height: 2px;
	background-color: #00ca74;
}

.filter-button-first {
	position: absolute;
	z-index: 2;
	top: 30px;
	left: 20px;
	cursor: pointer;
}

.filter-button-second {
	position: absolute;
	top: 30px;
	left: 160px;
	cursor: pointer;
}

.catalog-filter_brand-name,
.catalog-filter_charge-name {
	display: flex;
	align-items: center;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 17px;
}

.catalog-filter_brand-name img,
.catalog-filter_charge-name img {
	opacity: 0.23;
}

.catalog-filter_brand-name:hover img,
.catalog-filter_charge-name:hover img {
	opacity: 0.29;
}

.brand-checkbox-on,
.charge-radio-on {
	display: none;
}

.catalog-filter_brand-option,
.catalog-filter_charging-option {
	display: none;
}

.catalog-filter_brand-option:checked+label .brand-checkbox-on,
.catalog-filter_charging-option:checked+label .charge-radio-on {
	display: inline-block;
	vertical-align: middle;
}

.catalog-filter_brand-option:checked+label .brand-checkbox-off,
.catalog-filter_charging-option:checked+label .charge-radio-off {
	display: none;
}

.catalog-filter_brand-option:disabled+label,
.catalog-filter_charging-option:disabled+label {
	opacity: 0.4;
}

.brand-checkbox-off {
	margin-right: 12px;
}

.brand-checkbox-on {
	margin-right: 8px;
}

.charge-radio-on,
.charge-radio-off {
	margin-right: 10px;
}

.catalog-button {
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	padding: 10px 40px;
	border-radius: 3px;
}

.catalog-button:hover,
.catalog-button:focus {
	border: 1px solid #bdc6ca;
}

.catalog-button:active {
	border: 1px solid #ee3643;
}

.active .catalog-button {
	color: #ffffff;
	background-color: #ee3643;
	border: none;
}

.catalog-filter-fieldset+.catalog-button {
	margin-top: 54px;
}

.catalog-button-text {
	position: relative;
}

.catalog {
	width: 700px;
}

.catalog-sort {
	display: flex;
	align-items: center;
}

.catalog-sort-title {
	margin-left: 20px;
	margin-right: 140px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.catalog-sort_js-button {
	opacity: 0.3;
	border-bottom: 1px dotted #ee3643;
}

.catalog-sort_js-button:first-of-type {
	margin-right: 71px;
}

.catalog-sort_js-button:nth-of-type(2) {
	margin-right: 65px;
}

.catalog-sort_js-button:nth-of-type(3) {
	margin-right: 46px;
}

.catalog-sort_js-button:nth-of-type(4) {
	margin-right: 21px;
}

.catalog-sort_js-button:hover,
.catalog-sort_js-button:focus {
	opacity: 1;
	border-bottom: 1px solid #ee3643;
}

.catalog-sort_js-button:active,
.catalog-sort_js-button.active {
	color: #ee3643;
	border: none;
	opacity: 1;
}

.triangle-button,
.triangle-button:hover,
.triangle-button:focus {
	border: none;
}

.triangle-button:active path,
.triangle-button.active path {
	fill: #ee3643;
	opacity: 1;
}

.catalog-list,
.pagination-list {
	list-style: none;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.pagination-list {
	display: flex;
	margin-top: 53px;
	margin-bottom: 60px;
}

.pagination-item a {
	display: block;
	padding: 10px 15px;
	border-radius: 3px;
	margin-right: 10px;
}

.pagination-item:last-child a {
	padding: 10px 30px;
}

.main_perforator-article {
	background-color: #f4f7f9;
	padding-top: 67px;
	padding-bottom: 67px;
}

.main_perforator-article-title {
	font-size: 30px;
	line-height: 31px;
	font-weight: normal;
	color: #000000;
	margin-top: 0;
}

.main_perforator-article-text {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 0;
}

.main-footer {
	background-color: #32425c;
}

.main-footer .logo {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.main-footer ul {
	list-style: none;
}

.footer-top {
	background-color: #32425c;
	padding-bottom: 48px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.flex-container:last-child {
	padding-top: 34px;
}

.footer-nav {
	display: flex;
	justify-content: space-between;
	flex-grow: 0;
}

.footer-nav a {
	font-size: 18px;
	line-height: 24px;
	color: white;
}

.footer-nav a:hover,
.footer-nav-link:focus {
	text-decoration: underline;
	outline: none;
}

.footer-nav a:active {
	text-decoration: none;
	opacity: 0.5;
}

.flex-container:first-child .footer-nav {
	padding-top: 39px;
}

.flex-container:first-child .footer-nav-link {
	padding-right: 30px;
	padding-left: 30px;
	color: #f1f5f7;
}

.flex-container:last-child .footer-nav-link {
	padding-right: 30px;
	padding-left: 30px;
	color: #ffd180;
}

.footer-nav-item:last-child .footer-nav-link {
	padding-right: 0;
}

.footer-address {
	padding-left: 3px;
}

.footer-address,
.footer-address a {
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
}

.footer-address p {
	margin: 0;
}

.footer-bottom {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	background-color: #293449;
	padding-top: 14px;
}

.footer-bottom .container {
	display: flex;
	align-items: center;
	justify-content: left;
	padding-top: 21px;
	padding-bottom: 30px;
}

.footer-bottom a {
	color: #ffd180;
}

.footer-copyright {
	margin-right: 160px;
}

.footer-copyright p {
	margin: 0;
}

.footer-social {
	display: flex;
}

.social-button {
	display: flex;
	align-items: center;
	width: 42px;
	height: 42px;
	margin: 0 2px;
	background-color: #212a3a;
	border-radius: 50%;
}

.social-button img {
	display: block;
	margin: 0 auto;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
	background-color: #ee3643;
	outline: none;
}

.footer-bottom_academy-link {
	display: block;
}

.footer-bottom_academy-link:hover,
.footer-bottom_academy-link:focus {
	text-decoration: underline;
	outline: none;
}

.footer-bottom_academy-link:active {
	color: #ee3643;
	text-decoration: none;
}

.footer-bottom_academy-first {
	margin-left: 118px;
	margin-right: 53px;
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	/* background-color: rgba(225, 0, 0, 0.3); */
}

.modal {
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 10000;
	transform: translate(-50%, -50%);
	width: 620px;
	padding-top: 45px;
	background-color: #ffffff;
	border-top: 7px solid #ee3643;
	box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-container-mail {
	display: none;
}

.modal-container-map {
	display: none;
}

.modal-container-cart {
	display: none;
}

.modal-show {
	display: block;
}

.form-block-line {
	display: flex;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 18px;
}

.form-block-full {
	padding-left: 80px;
	padding-right: 80px;
}

.mail-form-label {
	display: block;
	font-size: 18px;
	line-height: 19px;
	color: #000000;
	padding-bottom: 11px;
}

.mail-form-input {
	width: 220px;
	margin-right: 20px;
}

.mail-form-input,
.mail-form-textarea {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	border: 2px solid #d7dcde;
	outline: none;
	border-radius: 3px;
	padding: 8px 14px;
}

.mail-form-input::-webkit-input-placeholder {
	color: #a9a9a9;
}

.mail-form-input::-moz-placeholder {
	color: #a9a9a9;
}

.mail-form-input:-moz-placeholder {
	color: #a9a9a9;
}

.mail-form-input:-ms-input-placeholder {
	color: #a9a9a9;
}

.mail-form-textarea::-webkit-input-placeholder {
	color: #a9a9a9;
}

.mail-form-textarea::-moz-placeholder {
	color: #a9a9a9;
}

.mail-form-textarea:-moz-placeholder {
	color: #a9a9a9;
}

.mail-form-textarea:-ms-input-placeholder {
	color: #a9a9a9;
}

.mail-form-input:hover,
.mail-form-textarea:hover {
	border: 2px solid #b5b5b5;
}

.mail-form-input:focus,
.mail-form-textarea:focus {
	border: 2px solid #ee3643;
}

.mail-form-textarea {
	width: 100%;
	resize: none;
}

.form-block__button {
	margin-top: 34px;
}

.form-block__button button {
	padding: 10px 198px;
	margin-top: 37px;
	margin-bottom: 37px;
}

.send-button-text {
	position: relative;
}

.modal-map {
	padding-top: 0;
	width: 940px;
	box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.5);
	border-top: none;
}

.modal-map img {
	display: block;
}

.form-block__button,
.modal-cart-bottom {
	background-color: #f4f4f4;
	width: 100%;
}

.modal-cart-top {
	display: flex;
	align-items: center;
	padding-left: 80px;
	padding-bottom: 48px;
}

.modal-cart-text {
	font-size: 30px;
	line-height: 31px;
	padding-left: 32px;
}

.modal-cart-bottom {
	padding: 37px 77px;
}

.modal-cart-bottom a {
	padding-right: 62px;
	padding-left: 59px;
	margin-right: 20px;
}

.continue-button {
	padding-right: 48px;
	padding-left: 44px;
}

.continue-button,
.continue-button-text {
	color: #000000;
	font-size: 14px;
	line-height: 18px;
	background-color: #ffffff;
}

.continue-button:hover,
.continue-button:active {
	background-color: #ffffff;
}

.continue-button-text:hover {
	color: #ee3643;
}

.continue-button-text:active {
	color: rgba(0, 0, 0, 0.3);
}

.close-button {
	position: absolute;
	top: 9px;
	right: 9px;
	background-color: transparent;
	border: none;
	width: 21px;
	height: 21px;
	background-image: url("../img/cross-red.svg");
	cursor: pointer;
}